/* Copyright (c) 2017,2020 The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;

#include "msm8953-pm8953.dtsi"
#include "pmi8950.dtsi"
#include <dt-bindings/leds/common.h>
#include <dt-bindings/gpio/gpio.h>

/{
    model = "Asus Zenfone 3";
	compatible = "qcom,msm8953-mtp", "qcom,msm8953", "qcom,msm8953";

	qcom,msm-id = <0x125 0x00>;
	qcom,board-id = <0x15 0x00>;

	aliases {
		smd1 = "/soc/qcom,smdtty/qcom,smdtty-apps-fm";
		smd2 = "/soc/qcom,smdtty/smdtty-apps-riva-bt-acl";
		smd3 = "/soc/qcom,smdtty/qcom,smdtty-apps-riva-bt-cmd";
		smd4 = "/soc/qcom,smdtty/qcom,smdtty-mbalbridge";
		smd5 = "/soc/qcom,smdtty/smdtty-apps-riva-ant-cmd";
		smd6 = "/soc/qcom,smdtty/smdtty-apps-riva-ant-data";
		smd7 = "/soc/qcom,smdtty/qcom,smdtty-data1";
		smd8 = "/soc/qcom,smdtty/qcom,smdtty-data4";
		smd11 = "/soc/qcom,smdtty/qcom,smdtty-data11";
		smd21 = "/soc/qcom,smdtty/qcom,smdtty-data21";
		smd36 = "/soc/qcom,smdtty/smdtty-loopback";
		sdhc1 = "/soc/sdhci@7824900";
		sdhc2 = "/soc/sdhci@7864900";
		i2c2 = "/soc/i2c@78b6000";
		i2c3 = "/soc/i2c@78b7000";
		spi3 = "/soc/spi@78b7000";
	};
	
	reserved-memory {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		ranges;

		other_ext_region@0 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x85b00000 0x00 0xd00000>;
		};

		modem_region@0 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x86c00000 0x00 0x6a00000>;
			linux,phandle = <0x126>;
			phandle = <0x126>;
		};

		adsp_fw_region@0 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x8d600000 0x00 0x1100000>;
			linux,phandle = <0x129>;
			phandle = <0x129>;
		};

		wcnss_fw_region@0 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x8e700000 0x00 0x700000>;
			linux,phandle = <0x12d>;
			phandle = <0x12d>;
		};

		venus_region@0 {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0x00 0x80000000 0x00 0x10000000>;
			alignment = <0x00 0x400000>;
			size = <0x00 0x800000>;
			linux,phandle = <0x12a>;
			phandle = <0x12a>;
		};

		secure_region@0 {
			compatible = "shared-dma-pool";
			reusable;
			alignment = <0x00 0x400000>;
			size = <0x00 0xb400000>;
			linux,phandle = <0x3e>;
			phandle = <0x3e>;
		};

		qseecom_region@0 {
			compatible = "shared-dma-pool";
			reusable;
			alignment = <0x00 0x400000>;
			size = <0x00 0x1000000>;
			linux,phandle = <0x3f>;
			phandle = <0x3f>;
		};

		adsp_region@0 {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x00 0x400000>;
			linux,phandle = <0x106>;
			phandle = <0x106>;
		};

		dfps_data_mem@90000000 {
			reg = <0x00 0x90000000 0x00 0x1000>;
			label = "dfps_data_mem";
			linux,phandle = <0x1ae>;
			phandle = <0x1ae>;
		};

		splash_region@0x90001000 {
			reg = <0x00 0x90001000 0x00 0x13ff000>;
			label = "cont_splash_mem";
			linux,phandle = <0x19f>;
			phandle = <0x19f>;
		};

		gpu_region@0 {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0x00 0x80000000 0x00 0x10000000>;
			alignment = <0x00 0x400000>;
			size = <0x00 0x800000>;
			linux,phandle = <0x36>;
			phandle = <0x36>;
		};	

		ramoops_region@92900000 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x92900000 0x00 0x100000>;
			linux,phandle = <0xf5>;
			phandle = <0xf5>;
		};
		
	};
	
	gpio_keys {
			compatible = "gpio-keys";
			input-name = "gpio-keys";
			pinctrl-names = "tlmm_gpio_key_active\0tlmm_gpio_key_suspend";
			pinctrl-0 = <0x1af>;
			pinctrl-1 = <0x1b0>;

			camera_focus {
				label = "camera_focus";
				gpios = <0xbe 0x57 0x01>;
				linux,input-type = <0x01>;
				linux,code = <0x210>;
				debounce-interval = <0x0f>;
			};

			camera_snapshot {
				label = "camera_snapshot";
				gpios = <0xbe 0x56 0x01>;
				linux,input-type = <0x01>;
				linux,code = <0x2fe>;
				debounce-interval = <0x0f>;
			};

			vol_up {
				label = "volume_up";
				gpios = <0xbe 0x55 0x01>;
				linux,input-type = <0x01>;
				linux,code = <0x73>;
				debounce-interval = <0x0f>;
			};
		};
		
		qcom,battery-data {
		qcom,batt-id-range-pct = <0x0f>;
		linux,phandle = <0x120>;
		phandle = <0x120>;

		qcom,itech-3000mah {
			qcom,max-voltage-uv = <0x426030>;
			qcom,v-cutoff-uv = <0x33e140>;
			qcom,chg-term-ua = <0x186a0>;
			qcom,batt-id-kohm = <0x64>;
			qcom,battery-type = "itech_3000mah";
			qcom,chg-rslow-comp-c1 = <0x429ac8>;
			qcom,chg-rslow-comp-c2 = <0x835ce8>;
			qcom,chg-rslow-comp-thr = <0xbe>;
			qcom,chg-rs-to-rslow = <0xb9ca8>;
			qcom,fastchg-current-ma = <0x7d0>;
			qcom,fg-cc-cv-threshold-mv = <0x10f4>;
			qcom,checksum = <0xb7c>;
			qcom,fg-profile-data = <0xf0836b7d 0x6681ec77 0x4383e35a 0x7c81338d 0xe181ec98 0x7bb5f8bb 0x5b12e283 0x4a7c6380 0xcf755083 0xfd5a8382 0xe68e1282 0xb69a1abe 0xbecb550e 0x960be05a 0xce6e71fd 0x2a317e47 0xcf400000 0xdb450f32 0xaf310000 0x00 0x00 0xe36a6069 0x9e6d4783 0x137c2370 0xb748f80 0xdb751768 0xba75bfb3 0x215b69b5 0x6ca0710c 0x2800ff36 0xf0113003 0x0e>;
		};

		qcom,ascent-3450mah {
			qcom,max-voltage-uv = <0x426030>;
			qcom,nom-batt-capacity-mah = <0xd7a>;
			qcom,batt-id-kohm = <0x3c>;
			qcom,battery-beta = <0xd6b>;
			qcom,battery-type = "ascent_3450mah";
			qcom,chg-rslow-comp-c1 = <0x6849f7>;
			qcom,chg-rslow-comp-c2 = <0x13b0d34>;
			qcom,chg-rs-to-rslow = <0xdf63a>;
			qcom,chg-rslow-comp-thr = <0xd5>;
			qcom,checksum = <0xe50c>;
			qcom,fg-profile-data = <0xc5832577 0xab7bca74 0x4c837f5b 0xeb80ed8c 0xea81619b 0xa6be2bd0 0x550ed683 0x977257b 0x3744983 0xcc700c70 0xc856782 0xe69327b5 0x61c05810 0x230d5059 0xce6e71fd 0xcd15cc3f 0x1d360000 0xb947293b 0x1d2e0000 0x00 0x00 0xd86ae769 0xb37c4e7a 0x7e777770 0x40770d73 0x2276966a 0x716520b0 0x2c976312 0x64a0710c 0x2800ff36 0xf0113003 0x0c>;
		};
	};
};


&i2c_2 {

				i2c_2_active {
					linux,phandle = <0xde>;
					phandle = <0xde>;

					mux {
						pins = "gpio6\0gpio7";
						function = "blsp_i2c2";
					};

					config {
						pins = "gpio6\0gpio7";
						drive-strength = <0x02>;
						bias-disable;
					};
				};

				i2c_2_sleep {
					linux,phandle = <0xdf>;
					phandle = <0xdf>;

					mux {
						pins = "gpio6\0gpio7";
						function = "gpio";
					};

					config {
						pins = "gpio6\0gpio7";
						drive-strength = <0x02>;
						bias-disable;
					};
				};
			};

&i2c_3 {

				i2c_3_active {
					linux,phandle = <0xea>;
					phandle = <0xea>;

					mux {
						pins = "gpio10\0gpio11";
						function = "blsp_i2c3";
					};

					config {
						pins = "gpio10\0gpio11";
						drive-strength = <0x02>;
						bias-disable;
					};
				};

				i2c_3_sleep {
					linux,phandle = <0xeb>;
					phandle = <0xeb>;

					mux {
						pins = "gpio10\0gpio11";
						function = "gpio";
					};

					config {
						pins = "gpio10\0gpio11";
						drive-strength = <0x02>;
						bias-disable;
					};
				};
};

&spi3 {

				spi3_default {
					linux,phandle = <0xd3>;
					phandle = <0xd3>;

					mux {
						pins = "gpio8\0gpio9\0gpio11";
						function = "blsp_spi3";
					};

					config {
						pins = "gpio8\0gpio9\0gpio11";
						drive-strength = <0x0c>;
						bias-disable = <0x00>;
					};
				};

				spi3_sleep {
					linux,phandle = <0xd5>;
					phandle = <0xd5>;

					mux {
						pins = "gpio8\0gpio9\0gpio11";
						function = "gpio";
					};

					config {
						pins = "gpio8\0gpio9\0gpio11";
						drive-strength = <0x02>;
						bias-pull-down;
					};
};

&sdhc_1 {
	status = "okay";

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc1_clk_on &sdc1_cmd_on &sdc1_data_on  &sdc1_rclk_on>;
	pinctrl-1 = <&sdc1_clk_off &sdc1_cmd_off &sdc1_data_off &sdc1_rclk_off>;
};

&sdhc_2 {
	status = "okay";

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc2_clk_on &sdc2_cmd_on &sdc2_data_on &sdc2_cd_on>;
	pinctrl-1 = <&sdc2_clk_off &sdc2_cmd_off &sdc2_data_off &sdc2_cd_off>;

	// cd-gpios = <&msmgpio 133 GPIO_ACTIVE_LOW>;
};


&wcd_codec {
	qcom,micbias1-ext-cap;
	qcom,hphl-jack-type-normally-open;
	qcom,mbhc-vthreshold-low = <75 150 237 450 500>;
	qcom,mbhc-vthreshold-high = <75 150 237 450 500>;
};




&usb3 {
	status = "okay";
};

&msmgpio {

				mdss_dsi_active {
					linux,phandle = <0x1a6>;
					phandle = <0x1a6>;

					mux {
						pins = "gpio61\0gpio59";
						function = "gpio";
					};

					config {
						pins = "gpio61\0gpio59";
						drive-strength = <0x08>;
						bias-disable = <0x00>;
						output-high;
					};
				};

				mdss_dsi_suspend {
					linux,phandle = <0x1a8>;
					phandle = <0x1a8>;

					mux {
						pins = "gpio61\0gpio59";
						function = "gpio";
					};

					config {
						pins = "gpio61\0gpio59";
						drive-strength = <0x02>;
						bias-pull-down;
					};
				};

				mdss_dsi_gpio {

					mux {
						pins = "gpio141";
						function = "gpio";
					};

					config {
						pins = "gpio141";
						drive-strength = <0x08>;
						bias-pull-down;
						output-low;
					};
				};
};			
				



&cci {

				cci0_active {
					linux,phandle = <0x182>;
					phandle = <0x182>;

					mux {
						pins = "gpio29\0gpio30";
						function = "cci_i2c";
					};

					config {
						pins = "gpio29\0gpio30";
						drive-strength = <0x02>;
						bias-disable;
					};
				};

				cci0_suspend {
					linux,phandle = <0x184>;
					phandle = <0x184>;

					mux {
						pins = "gpio29\0gpio30";
						function = "cci_i2c";
					};

					config {
						pins = "gpio29\0gpio30";
						drive-strength = <0x02>;
						bias-disable;
					};
				};

				cci1_active {
					linux,phandle = <0x183>;
					phandle = <0x183>;

					mux {
						pins = "gpio31\0gpio32";
						function = "cci_i2c";
					};

					config {
						pins = "gpio31\0gpio32";
						drive-strength = <0x02>;
						bias-disable;
					};
				};

				cci1_suspend {
					linux,phandle = <0x185>;
					phandle = <0x185>;

					mux {
						pins = "gpio31\0gpio32";
						function = "cci_i2c";
					};

					config {
						pins = "gpio31\0gpio32";
						drive-strength = <0x02>;
						bias-disable;
					};
				};
};


//Insert device info for Sony IMX298 Sensor. ie. rear camera




&smd_rpm_regulators {
			compatible = "qcom,rpm-smd";
			rpm-channel-name = "rpm_requests";
			rpm-channel-type = <0x0f>;

			rpm-regulator-smpa1 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "smpa";
				qcom,resource-id = <0x01>;
				qcom,regulator-type = <0x01>;
				qcom,hpm-min-load = <0x186a0>;
				status = "okay";

				regulator-s1 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s1";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0xd4670>;
					regulator-max-microvolt = <0x11a3a0>;
					qcom,init-voltage = <0xf4240>;
					linux,phandle = <0x123>;
					phandle = <0x123>;
				};
			};

			rpm-regulator-smpa2 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "smpa";
				qcom,resource-id = <0x02>;
				qcom,regulator-type = <0x01>;
				qcom,hpm-min-load = <0x186a0>;
				status = "okay";

				regulator-s2 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s2";
					qcom,set = <0x03>;
					status = "disabled";
				};

				regulator-s2-level {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s2_level";
					qcom,set = <0x03>;
					regulator-min-microvolt = <0x10>;
					regulator-max-microvolt = <0x180>;
					qcom,use-voltage-level;
					linux,phandle = <0xf7>;
					phandle = <0xf7>;
				};

				regulator-s2-floor-level {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s2_floor_level";
					qcom,set = <0x03>;
					regulator-min-microvolt = <0x10>;
					regulator-max-microvolt = <0x180>;
					qcom,use-voltage-floor-level;
					qcom,always-send-voltage;
					linux,phandle = <0xc9>;
					phandle = <0xc9>;
				};

				regulator-s2-level-ao {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s2_level_ao";
					qcom,set = <0x01>;
					regulator-min-microvolt = <0x10>;
					regulator-max-microvolt = <0x180>;
					qcom,use-voltage-level;
				};
			};

			rpm-regulator-smpa3 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "smpa";
				qcom,resource-id = <0x03>;
				qcom,regulator-type = <0x01>;
				qcom,hpm-min-load = <0x186a0>;
				status = "okay";

				regulator-s3 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s3";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x12b128>;
					regulator-max-microvolt = <0x12b128>;
					qcom,init-voltage = <0x12b128>;
					linux,phandle = <0x17c>;
					phandle = <0x17c>;
				};
			};

			rpm-regulator-smpa4 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "smpa";
				qcom,resource-id = <0x04>;
				qcom,regulator-type = <0x01>;
				qcom,hpm-min-load = <0x186a0>;
				status = "okay";

				regulator-s4 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s4";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x1cfde0>;
					regulator-max-microvolt = <0x1f47d0>;
					qcom,init-voltage = <0x1cfde0>;
					linux,phandle = <0x11e>;
					phandle = <0x11e>;
				};
			};

			rpm-regulator-smpa7 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "smpa";
				qcom,resource-id = <0x07>;
				qcom,regulator-type = <0x01>;
				qcom,hpm-min-load = <0x186a0>;
				status = "okay";

				regulator-s7 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s7";
					qcom,set = <0x03>;
					status = "disabled";
				};

				regulator-s7-level {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s7_level";
					qcom,set = <0x03>;
					regulator-min-microvolt = <0x10>;
					regulator-max-microvolt = <0x180>;
					qcom,init-voltage-level = <0x10>;
					qcom,use-voltage-level;
					qcom,always-send-voltage;
				};

				regulator-s7-level-ao {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s7_level_ao";
					qcom,set = <0x01>;
					regulator-min-microvolt = <0x10>;
					regulator-max-microvolt = <0x180>;
					qcom,use-voltage-level;
					qcom,always-send-voltage;
					linux,phandle = <0xfa>;
					phandle = <0xfa>;
				};

				regulator-s7-level-so {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_s7_level_so";
					qcom,set = <0x02>;
					regulator-min-microvolt = <0x10>;
					regulator-max-microvolt = <0x180>;
					qcom,init-voltage-level = <0x10>;
					qcom,use-voltage-level;
				};
			};

			rpm-regulator-ldoa1 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x01>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l1 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l1";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0xf4240>;
					regulator-max-microvolt = <0x10c8e0>;
					qcom,init-voltage = <0xf4240>;
				};
			};

			rpm-regulator-ldoa2 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x02>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l2 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l2";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0xee098>;
					regulator-max-microvolt = <0x12b128>;
					qcom,init-voltage = <0xee098>;
					linux,phandle = <0x188>;
					phandle = <0x188>;
				};
			};

			rpm-regulator-ldoa3 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x03>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l3 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l3";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0xe1d48>;
					regulator-max-microvolt = <0xe1d48>;
					qcom,init-voltage = <0xe1d48>;
					linux,phandle = <0x133>;
					phandle = <0x133>;
				};
			};

			rpm-regulator-ldoa5 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x05>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l5 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l5";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x1b7740>;
					regulator-max-microvolt = <0x1b7740>;
					qcom,init-voltage = <0x1b7740>;
					linux,phandle = <0xd8>;
					phandle = <0xd8>;
				};
			};

			rpm-regulator-ldoa6 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x06>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l6 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l6";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x1b7740>;
					regulator-max-microvolt = <0x1b7740>;
					qcom,init-voltage = <0x1b7740>;
					linux,phandle = <0x187>;
					phandle = <0x187>;
				};
			};

			rpm-regulator-ldoa7 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x07>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l7 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l7";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x1b7740>;
					regulator-max-microvolt = <0x1cfde0>;
					qcom,init-voltage = <0x1b7740>;
					linux,phandle = <0xfe>;
					phandle = <0xfe>;
				};

				regulator-l7-ao {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l7_ao";
					qcom,set = <0x01>;
					regulator-min-microvolt = <0x1b7740>;
					regulator-max-microvolt = <0x1cfde0>;
					qcom,init-voltage = <0x1b7740>;
				};
			};

			rpm-regulator-ldoa8 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x08>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l8 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l8";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x2c4020>;
					regulator-max-microvolt = <0x2c4020>;
					qcom,init-voltage = <0x2c4020>;
					regulator-always-on;
					linux,phandle = <0x109>;
					phandle = <0x109>;
				};
			};

			rpm-regulator-ldoa9 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x09>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l9 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l9";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x2dc6c0>;
					regulator-max-microvolt = <0x325aa0>;
					qcom,init-voltage = <0x2dc6c0>;
					linux,phandle = <0x100>;
					phandle = <0x100>;
				};
			};

			rpm-regulator-ldoa10 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x0a>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l10 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l10";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x2dc6c0>;
					regulator-max-microvolt = <0x2b7cd0>;
					qcom,init-voltage = <0x2dc6c0>;
					regulator-always-on;
					linux,phandle = <0xd7>;
					phandle = <0xd7>;
				};
			};

			rpm-regulator-ldoa11 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x0b>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l11 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l11";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x2d0370>;
					regulator-max-microvolt = <0x2d0370>;
					qcom,init-voltage = <0x2d0370>;
					linux,phandle = <0x6a>;
					phandle = <0x6a>;
				};
			};

			rpm-regulator-ldoa12 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x0c>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l12 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l12";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x1b7740>;
					regulator-max-microvolt = <0x2d0370>;
					qcom,init-voltage = <0x1b7740>;
					linux,phandle = <0x6b>;
					phandle = <0x6b>;
				};
			};

			rpm-regulator-ldoa13 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x0d>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x1388>;
				status = "okay";

				regulator-l13 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l13";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x2faf08>;
					regulator-max-microvolt = <0x2faf08>;
					qcom,init-voltage = <0x2faf08>;
					linux,phandle = <0x11b>;
					phandle = <0x11b>;
				};
			};

			rpm-regulator-ldoa16 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x10>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x1388>;
				status = "okay";

				regulator-l16 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l16";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x1b7740>;
					regulator-max-microvolt = <0x1b7740>;
					qcom,init-voltage = <0x1b7740>;
				};
			};

			rpm-regulator-ldoa17 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x11>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l17 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l17";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x2b7cd0>;
					regulator-max-microvolt = <0x2b7cd0>;
					qcom,init-voltage = <0x2b7cd0>;
					linux,phandle = <0x186>;
					phandle = <0x186>;
				};
			};

			rpm-regulator-ldoa19 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x13>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l19 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l19";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x124f80>;
					regulator-max-microvolt = <0x149970>;
					qcom,init-voltage = <0x124f80>;
					linux,phandle = <0xff>;
					phandle = <0xff>;
				};
			};

			rpm-regulator-ldoa22 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x16>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l22 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l22";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0x2ab980>;
					regulator-max-microvolt = <0x2b7cd0>;
					qcom,init-voltage = <0x2ab980>;
					linux,phandle = <0x190>;
					phandle = <0x190>;
				};
			};

			rpm-regulator-ldoa23 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "ldoa";
				qcom,resource-id = <0x17>;
				qcom,regulator-type = <0x00>;
				qcom,hpm-min-load = <0x2710>;
				status = "okay";

				regulator-l23 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "pm8953_l23";
					qcom,set = <0x03>;
					status = "okay";
					regulator-min-microvolt = <0xee098>;
					regulator-max-microvolt = <0x12b128>;
					qcom,init-voltage = <0xee098>;
					linux,phandle = <0x18f>;
					phandle = <0x18f>;
				};
			};

			rpm-regulator-clk0 {
				compatible = "qcom,rpm-smd-regulator-resource";
				qcom,resource-name = "clk0";
				qcom,resource-id = <0x03>;
				qcom,regulator-type = <0x01>;
				status = "disabled";

				regulator-clk0 {
					compatible = "qcom,rpm-smd-regulator";
					regulator-name = "rpm_apc";
					qcom,set = <0x03>;
					status = "disabled";
				};
			};
};
